{extend name="public:base" /}
{block name="head"}
<link href="__PUBLIC__/jquery-weui/dist/css/jquery-weui.min.css" type="text/css" rel="Stylesheet" />
<link href="__PUBLIC__/view_res/mobile/css/home.css" type="text/css" rel="Stylesheet" />
<script src="__PUBLIC__/jquery-weui/dist/js/jquery-weui.min.js"></script>
<script src="__PUBLIC__/jquery-weui/dist/js/swiper.min.js"></script>
<script src="__PUBLIC__/artTemplate/template.js"></script>
<script src="__PUBLIC__/view_res/mobile/load_list.js"></script>
<script src="__PUBLIC__/view_res/mobile/index.js"></script>

<style>
    body {
        font-family: "Microsoft YaHei";
        background-color: #FFF;
    }
    
    .option_name{margin-left:5px;}
    .span_points {
        font-family: "Microsoft YaHei";
        font-size: 12px;
    }
    .span_red {
        color: #f00;
        display: inline-block;
        padding: 0 5px;
    }
    .group-buy-sign {
        position: absolute;
        background-color: #FE241D;
        color: #fff;
        top: -8px;
        left: 0;
        padding: 8px 8px;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 0 16px 16px 0;
        font-family: "Microsoft Yahei";
        font-size: 12px;
    }
    .f-l {
        float: left;
    }
    .f-r {
        float: right;
    }
    .b-top {
        border-top: 1px solid #eee;
    }
    .home-recom section .hplist .b-top i {
        border: none;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .category-list ul {
        margin: 15px 0;
    }
    .category-list ul li {
        float: left;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 25%;
        padding: 10px 15px;
    }
    .category-list ul li a span, .category-list ul li a img {
        display: block;
        width: 100%;
        text-align: center;
    }
    .category-list ul li span {
        font-size: 12px;
        font-family: "Microsoft YaHei";
        color: #222;
        padding-top: 8px;
    }
    .advert-container {
        margin-bottom: 25px;
    }
    /*重载jquery-weui.min.css中样式*/  
    label > * {
      pointer-events: auto;
    }   
</style>

{/block} 
{block name="header"}
{include file="public/top-nav" /}
{/block}

{block name="content"}
<section class="home-recom">
    <section class="clearfix" id="goods_list">

    </section>
    <div id="list-loading" style="display: none;"><img src="__PUBLIC__/view_res/mobile/images/icon/spinner-g-60.png" width="30"></div>
</section>
<script id="list" type="text/html">
    	<@each list as value i@>
	        <a href="/mobile/goods/detail/id/<@value.goods_id@>" class="hplist">
	                <img src="/<@value.image@>" />
	                <p><@value.name@></p>
                    <div class="clearfix b-top">
                         <@if value.group_status_id == 0@>
                            <i class="f-l">团购已结束</i>
                        <@else if value.group_status_id == 2@>
                            <i class="f-l">开抢时间：<@value.group_begin_date@></i>
                        <@else@>
                            <i class="f-l">剩余<@value.group_residue_num@>件</i>
                        <@/if@>
                        <i class="f-r">&yen;<@value.price@></i>     
                    </div>
	               
	        </a>
        <@/each@>
</script>
{/block}

{block name="footer"}
{include file="public/footer-nav" /}
{/block}

{block name="script"}
{if condition="in_wechat()"}
<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>    
<script type="text/javascript">
wx.config({
    debug: false,            
    appId: '{$signPackage.appId}',
    timestamp: {$signPackage.timestamp},
    nonceStr: '{$signPackage.nonceStr}',
    signature: '{$signPackage.signature}',            
    jsApiList: [
    'checkJsApi',
    'onMenuShareTimeline',
    'onMenuShareAppMessage'
    ]
});	
        
wx.ready(function(){
	
		var is_agent = '<?php echo user("is_agent"); ?>';
        var site_url='<?php echo request()->domain(); ?>';
        if(is_agent==1){        	
        	var url =site_url+'/mobile/index/agent_share/osc_aid/'+'<?php echo hashids()->encode(user("uid")); ?>';
        }else{
        	var url =site_url+'/mobile/';
        }           
   
        //获取“分享到朋友圈”按钮点击状态及自定义分享内容接口
        wx.onMenuShareTimeline({
            title: '<?php echo config("SITE_NAME"); ?>',
            link: url, 
            imgUrl: site_url+'/uploads/<?php echo config("SITE_ICON"); ?>',
            success: function () {
               pvShareCallback(url,'分享到朋友圈');
            }
        });
        //获取“分享给朋友”按钮点击状态及自定义分享内容接口
        wx.onMenuShareAppMessage({
            title: '<?php echo config("SITE_NAME"); ?>',
            desc: '<?php echo config("SITE_NAME"); ?>',
            link: url,
            imgUrl: site_url+'/uploads/<?php echo config("SITE_ICON"); ?>',
            success: function () {
              pvShareCallback(url,'分享给朋友');
            }
        });
        function pvShareCallback(url,type) {
        	
            $.post("{:url('Index/add_share')}", {
                url: url,
                uid:'<?php echo user("uid"); ?>',
                type:type                    
            });
        }  
        
});	        
         	        
</script> 
{/if}
<script>
$(function(){
    var group_status_id = "{$group_status_id}";
    scroll_load('mobile/index/ajax_goods_list_by_group_status/group_status_id/'+group_status_id,'list','goods_list');
});
</script>
{/block}