{extend name="./oscshop/admin/view/public/base.html" /} {block name="javascript"}
<script>
function save(id) {
    url = '{:url("PointsSetting/edit")}';
    $.post(
        url, {
            'id': id,
            'name': $("input[name='name']").val(),
            'points': $("input[name='points']").val(),
            'status': $("input[name='status']").val(),
        },
        function(d) {

            if (d.success) {
                close_artDialog();
            }
            if (d.error) {
                alert(d.error);
            }
        }
    );
}

function edit() {

    var id = $(this).data('id');

    $.post(
        '{:url("PointsSetting/get_info")}', {
            'id': id,
        },
        function(d) {
            $("input[name='name']").val(d.name);
            $("input[name='points']").val(d.points);

            if (d.status == 0) {
                $("#open").attr("checked", "checked");
            } else if (d.status == 1) {
                $("#close").attr("checked", "checked");
            }
        }
    );

    var dialog = $('#dialog').html();

    var title = '修改积分配置';

    art.dialog({
        title: title,
        content: dialog,
        lock: true,
        ok: function() {
            save(id);
            return false;
        },
        cancelVal: '关闭',
        cancel: true
    });


}

$(document).ready(function() {
    $(".edit").bind("click", edit);
});
</script>
{/block} {block name="content"}
<div class="page-header">
    <h1>	
		{$breadcrumb1}
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
			{$breadcrumb2}
		</small>
	</h1>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th>名称</th>
                        <th>积分</th>
                        <th>是否开启</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {volist name="list" id="data" empty="$empty"}
                    <tr>
                        <td>{$data.name}</td>
                        <td>{$data.points}</td>
                        <td>
                            {switch name="data.status"} {case value="1"}<a href=''><span class="btn btn-xs btn-success"><i class="fa fa-check bigger-120"></i></span></a>{/case} {case value="0"}<a href=''><span class="btn btn-xs btn-danger"><i class="fa fa-remove bigger-120"></i></span></a>{/case} {/switch}
                        </td>
                        <td>
                            <a class="btn btn-xs btn-info edit" href="javascript:;" data-id="{$data.id}">
									<i class="fa fa-edit bigger-120"></i>
								</a>
                        </td>
                    </tr>
                    {/volist}
                    <tr>
                        <td colspan="5" class="page">{$list->render()}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div id="dialog" class="dialog" style="display:none">
    <div class="dialog_content">
        <dl>
            <dt>名称</dt>
            <dd>
                <input type="text" name="name" class="text" disabled size="50" />
            </dd>
            <dt>积分</dt>
            <dd>
                <input name="points" type="text" value="" />
            </dd>
            <!-- TODO -->
            <!-- <dt class="type">签到规则</dt>
    		<dd class="type"><input name="module" type="text" value=""  /></dd>   -->
            <dt>是否开启</dt>
            <dd>
                <label>
                    <input id="open" name="status" type="radio" value="1" checked="checked" /> 开启
                </label>
                <label>
                    <input id="close" name="status" type="radio" value="0" /> 关闭
                </label>
            </dd>
        </dl>
    </div>
</div>
{/block}