{extend name="public:base" /}
{block name="content"}	
<div class="page-header">
		<h1>
			{$breadcrumb1}
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				{$breadcrumb2}
			</small>
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				{$crumbs}
			</small>			
			<button id="send" form="form-goods" type="submit" style="float:right;"  class="btn btn-sm btn-primary">提交</button>			
		</h1>
</div>
	<div class="row">
	<div class="col-xs-12">	
		<div class="panel-body">
        <form action="{:url('Advert/add')}" method="post" enctype="multipart/form-data" id="form-goods" class="form-horizontal">
        
    
          <ul class="nav nav-tabs">
          	
          	<li class="active"><a href="#tab-data" data-toggle="tab">基本信息</a></li>
          	
            <li id="outer_link"><a href="#tab-general" data-toggle="tab">广告内容</a></li>
          </ul>
          <div class="tab-content">
          		
	          	<!-- 基本信息 START -->
	          	<div class="tab-pane active" id="tab-data">
	          		
	          		<div class="form-group required">
		                <label class="col-sm-2 control-label" for="input-image">
		                	<span title="" data-toggle="tooltip" data-original-title="上传800x800的图片">缩略图：</span>
		                </label>
		                
		                <div class="col-sm-10" id="thumb">
		                  <a id="thumb-image" href="#" data-toggle="image" class="img-thumbnail"><img src="__PUBLIC__/image/no_image_100x100.jpg" /></a>
		                  <input type="hidden" name="image" value="" id="input-image" />
		            	</div>
		            
		            </div>   
		            
		            <div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name2">广告名称：</label>
						<div class="col-sm-10">
							<input id="input-name2" class="form-control" type="text" placeholder="广告名称" value="" name="name">
						</div>
					</div>
		            
		            <div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name2">广告类型</label>
						<div class="col-sm-10">
							<select name="type">
								<option  value="1">站内广告</option>
								<option  value="2">站外广告</option>
							</select>
						</div>
					</div>

					<div class="form-group required" id="href" style="display:none;">
						<label class="col-sm-2 control-label" for="input-name2">外站广告链接</label>
						<div class="col-sm-10">
							<input id="input-name2" class="form-control" type="text" placeholder="外站广告链接地址" value="" name="href">
						</div>
					</div>

					<div class="form-group required">
						<label class="col-sm-2 control-label" for="input-name2">广告位置</label>
						<div class="col-sm-10">
							<select name="location">
								<option  value="1">轮播广告</option>
								<option  value="2">固定广告</option>
							</select>
						</div>
					</div>
		            
		            <div class="form-group">
						<label class="col-sm-2 control-label">广告状态：</label>
						<div class="col-sm-10">
							<label class="radio-inline">
							<input type="radio" checked="checked" value="1" name="status">启用</label>
							<label class="radio-inline">
							<input type="radio" value="2" name="status">停用</label>
						</div>
					</div>
		            
		            <div class="form-group required">
						<label class="col-sm-2 control-label" for="input-meta-title2">排序：</label>
						<div class="col-sm-10">
							<input id="input-meta-title2" class="form-control" type="text" placeholder="排序" value="" name="sort_order">
						</div>
					</div>
		            
	          	</div>
	          	<!-- 基本信息 END -->
	          	
	          	<!-- 广告内容  START -->
	          	<div class="tab-pane" id="tab-general">	          		
					
					<div class="form-group">
	                    <label class="col-sm-2 control-label" for="input-description">广告内容：</label>
	                    <div class="col-sm-10">
	                      <textarea name="description" id="description"></textarea>	
	                    </div>
                  	</div>
		
					
	          	</div>
	          	<!-- 广告内容 END --> 	          	
	          	
          </div>
        </form>
	</div>
	</div>
</div>
{/block}
{block name="javascript"}

<script src="__PUBLIC__/js/ckeditor/ckeditor.js"></script> 
<script>
$('select[name="type"]').on('change',function() {
	if ($(this).val() == 2) {
		$('#outer_link').hide();
		$('#href').show();
	} else {
		$('#outer_link').show();
		$('#href').hide();
	}
});

$('#send').click(function(){
	
	var name=$('input[name="name"]').val();
	
	var send=true;
	
	if(name==''){
		alert('广告名称必填');
		return false;
	}
	
	if(send==true){
		return true;
	}
	return false;
}); 

//CKEDITOR
CKEDITOR.replace('description', {
	filebrowserImageUploadUrl: '{:url("FileManager/ckupload")}',	
	toolbar: [
				[ 'Source', 'Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', '-', 'RemoveFormat' ],
				[ 'FontSize', 'TextColor', 'BGColor' ],
				[ 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock','Image','Format']
			]	
});

/*******************************************************************************************************************/

</script>
{/block}